registry=https://registry.npmmirror.com/
strict-ssl=false
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=60000

@hookform:registry=https://registry.npmmirror.com/
@radix-ui:registry=https://registry.npmmirror.com/
@tanstack:registry=https://registry.npmmirror.com/
@eslint:registry=https://registry.npmmirror.com/
@types:registry=https://registry.npmmirror.com/
@vitejs:registry=https://registry.npmmirror.com/
@babel:registry=https://registry.npmmirror.com/
